.greenbox {
    background-color: #d0f0c0;  /* light green */
    border: 1px solid #008000;   /* dark green border */
    padding: 10px;
    border-radius: 5px;
}
.greenbox .admonition-title {
    font-weight: bold;
    background-color: #00d09d;  /* dark green title */
}

.greenbox table {
    width: 100%;
}
.greenbox th, .greenbox td {
    text-align: left;
    padding: 4px 8px;
}

.red-border{
    border: 1px solid red;
    border-radius: 8px;
    display: inline-block;
    box-sizing: border-box;
}

.nav-internal{
    display:none !important;
}

.navbar-nav .nav-link {
  color: var(--pst-color-primary);
  font-weight: 500;
}

.navbar-nav .nav-link:hover {
  color: var(--pst-color-primary);
}

.logo{
    text-decoration: none;
}

.logo:hover{
    text-decoration:none !important;
    font-weight:800;
}

.amp-partners img {
  max-height: 42px;
}

#navbar-logo-text{
    text-decoration:none;
    font-weight:600;
}

#navbar-logo-text:hover{
    text-decoration: none;
    font-weight:700;
}

/* Base sizing/layout */
.amp-logo-block {
  display: flex;
  align-items: center;
  gap: 0;
  text-decoration: none;
}

.amp-logo-image {
  height: 48px;
}

.amp-logo-divider {
  width: 2px;
  height: 40px;
  margin: 0 12px;
}

.amp-logo-text {
  line-height: 1.2;
  font-weight: 600;
  color: var(--pst-color-text-base)
}

.amp-logo-line {
  font-size: 0.78rem;
}

.amp-partners-image {
  max-height: 42px;
  object-fit: contain;
}

.navbar-nav .nav-link {
  font-weight: 500;
}

/* LIGHT MODE */
html[data-theme="light"] .amp-logo-text,
html[data-theme="light"] .navbar-nav .nav-link {
  color: var(--pst-color-text-base);
}

html[data-theme="light"] .amp-logo-divider {
  background-color: #35454F;
}

html[data-theme="light"] .navbar-nav .nav-link:hover {
  color: #1a5f7a;
}

/* DARK MODE */
html[data-theme="dark"] .amp-logo-text,
html[data-theme="dark"] .navbar-nav .nav-link {
  color: var(--pst-color-text-base);
}

html[data-theme="dark"] .amp-logo-divider {
  background-color: #e5e7eb;
}

html[data-theme="dark"] .navbar-nav .nav-link:hover {
  color: #7dd3fc;
}

/* Optional: slightly tune navbar background transitions */
.bd-header,
.navbar {
  transition: background-color 0.2s ease, color 0.2s ease;
}

.amp-logo-image-dark {
  display: none;
}

html[data-theme="dark"] .amp-logo-image-light {
  display: none;
}

html[data-theme="dark"] .amp-logo-image-dark {
  display: inline-block;
}

@media (max-width: 991.98px) {
  .amp-partners {
    display: none !important;
  }
}